#myCanvas{
  border : 5px solid MediumBlue;
  background-color : white;
  display : block;
  margin-left : auto;
  margin-right : auto;
  margin-top : 5px;

}

#chooseRom > input
{
    display : none;
}

#button1, #button2, #button3, #button4{
  margin-top : 10px;
  height : 50px;
  width : auto;
  display : block;
  margin-left : auto;
  margin-right : auto;
}

#down, #up, #gameSpeedIcon{
  margin-top : 10px;
  height : 50px;
  width : auto;
}

#gameSpeed{
  display: block;
  margin-left : auto;
  margin-right : auto;
}

html{
  background-color : black;
  font-family : "Courier New", Courier, monospace ;
  color : white;
}

#titlepic{
  height : 210px;
  width : auto;
  display : block;
  margin-left : auto;
  margin-right : auto;
}
